
.widget-watch {
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.watch-list {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}